
# System
.DS_Store
frontend/node_modules
frontend/.nuxt

# local env files
.env.local
.env.*.local

# Log files
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Editor directories and files
frontend/yarn.lock

.vscode
