.page-enter-active,
.page-leave-active {
	transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
	opacity: 0;
}

.fill-width {
	width: 100%;
}

.text-container {
	max-width: 768px !important;
	margin-left: auto;
	margin-right: auto;
}
