// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
$body-font-family: "FreeSans", sans-serif;
$heading-font-family: "FreeSans", sans-serif;

$font-size-root: 18px;

@import "~vuetify/src/styles/styles.sass";
