@font-face {
  font-family: "Humanitarian-Icons-v02";
  src: url("Humanitarian-Icons-v02.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="humanitarianicons-"],
[class*=" humanitarianicons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Humanitarian-Icons-v02" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="humanitarianicons-"].large,
[class*=" humanitarianicons-"].large {
  font-size: 36px;
}

[class^="humanitarianicons-"].x-large,
[class*=" humanitarianicons-"].x-large {
  font-size: 48px;
}

.humanitarianicons-abduction-kidnapping:before {
  content: "\e900";
}
.humanitarianicons-about:before {
  content: "\e901";
}
.humanitarianicons-add-document:before {
  content: "\e902";
}
.humanitarianicons-add:before {
  content: "\e903";
}
.humanitarianicons-advocacy:before {
  content: "\e904";
}
.humanitarianicons-affected-population:before {
  content: "\e905";
}
.humanitarianicons-agriculture:before {
  content: "\e906";
}
.humanitarianicons-airport-affected:before {
  content: "\e907";
}
.humanitarianicons-airport-destroyed:before {
  content: "\e908";
}
.humanitarianicons-airport-military:before {
  content: "\e909";
}
.humanitarianicons-airport-not-affected:before {
  content: "\e90a";
}
.humanitarianicons-airport:before {
  content: "\e90b";
}
.humanitarianicons-alert:before {
  content: "\e90c";
}
.humanitarianicons-analysis:before {
  content: "\e90d";
}
.humanitarianicons-arrest-detention:before {
  content: "\e90e";
}
.humanitarianicons-assault:before {
  content: "\e90f";
}
.humanitarianicons-assembly-point:before {
  content: "\e910";
}
.humanitarianicons-assessment:before {
  content: "\e911";
}
.humanitarianicons-attack:before {
  content: "\e912";
}
.humanitarianicons-blanket:before {
  content: "\e913";
}
.humanitarianicons-blog:before {
  content: "\e914";
}
.humanitarianicons-boat:before {
  content: "\e915";
}
.humanitarianicons-bookmark:before {
  content: "\e916";
}
.humanitarianicons-border-crossing:before {
  content: "\e917";
}
.humanitarianicons-borehole:before {
  content: "\e918";
}
.humanitarianicons-bottled-water:before {
  content: "\e919";
}
.humanitarianicons-bridge-affected:before {
  content: "\e91a";
}
.humanitarianicons-bridge-destroyed:before {
  content: "\e91b";
}
.humanitarianicons-bridge-not-affected:before {
  content: "\e91c";
}
.humanitarianicons-bridge:before {
  content: "\e91d";
}
.humanitarianicons-bucket:before {
  content: "\e91e";
}
.humanitarianicons-buddhist-temple:before {
  content: "\e91f";
}
.humanitarianicons-building-facility-affected:before {
  content: "\e920";
}
.humanitarianicons-building-facility-destroyed:before {
  content: "\e921";
}
.humanitarianicons-building-facility-not-affected:before {
  content: "\e922";
}
.humanitarianicons-building:before {
  content: "\e923";
}
.humanitarianicons-bus:before {
  content: "\e924";
}
.humanitarianicons-calendar:before {
  content: "\e925";
}
.humanitarianicons-camp-coordination-and-camp-management:before {
  content: "\e926";
}
.humanitarianicons-car:before {
  content: "\e927";
}
.humanitarianicons-carjacking:before {
  content: "\e928";
}
.humanitarianicons-cash-transfer:before {
  content: "\e929";
}
.humanitarianicons-cell-tower:before {
  content: "\e92a";
}
.humanitarianicons-chart:before {
  content: "\e92b";
}
.humanitarianicons-chat:before {
  content: "\e92c";
}
.humanitarianicons-checkpoint:before {
  content: "\e92d";
}
.humanitarianicons-child-combatant:before {
  content: "\e92e";
}
.humanitarianicons-child-protection:before {
  content: "\e92f";
}
.humanitarianicons-children:before {
  content: "\e930";
}
.humanitarianicons-church:before {
  content: "\e931";
}
.humanitarianicons-civil-military-coordination:before {
  content: "\e932";
}
.humanitarianicons-clinic:before {
  content: "\e933";
}
.humanitarianicons-clothing:before {
  content: "\e934";
}
.humanitarianicons-cold-wave:before {
  content: "\e935";
}
.humanitarianicons-communal-latrine:before {
  content: "\e936";
}
.humanitarianicons-community-building:before {
  content: "\e937";
}
.humanitarianicons-community-engagement:before {
  content: "\e938";
}
.humanitarianicons-computer:before {
  content: "\e939";
}
.humanitarianicons-conflict:before {
  content: "\e93a";
}
.humanitarianicons-coordinated-assessment:before {
  content: "\e93b";
}
.humanitarianicons-coordination:before {
  content: "\e93c";
}
.humanitarianicons-copy:before {
  content: "\e93d";
}
.humanitarianicons-cyclone:before {
  content: "\e93e";
}
.humanitarianicons-damaged-affected:before {
  content: "\e93f";
}
.humanitarianicons-dangerous-area:before {
  content: "\e940";
}
.humanitarianicons-data:before {
  content: "\e941";
}
.humanitarianicons-dead:before {
  content: "\e942";
}
.humanitarianicons-debris-management:before {
  content: "\e943";
}
.humanitarianicons-deployment:before {
  content: "\e944";
}
.humanitarianicons-destroyed:before {
  content: "\e945";
}
.humanitarianicons-detergent:before {
  content: "\e946";
}
.humanitarianicons-diplomatic-mission:before {
  content: "\e947";
}
.humanitarianicons-distribution-site:before {
  content: "\e948";
}
.humanitarianicons-document:before {
  content: "\e949";
}
.humanitarianicons-down:before {
  content: "\e94a";
}
.humanitarianicons-download:before {
  content: "\e94b";
}
.humanitarianicons-drought:before {
  content: "\e94c";
}
.humanitarianicons-drowned:before {
  content: "\e94d";
}
.humanitarianicons-e-mail:before {
  content: "\e94e";
}
.humanitarianicons-early-recovery:before {
  content: "\e94f";
}
.humanitarianicons-earthmound:before {
  content: "\e950";
}
.humanitarianicons-earthquake:before {
  content: "\e951";
}
.humanitarianicons-education:before {
  content: "\e952";
}
.humanitarianicons-elderly:before {
  content: "\e953";
}
.humanitarianicons-emergency-telecommunications:before {
  content: "\e954";
}
.humanitarianicons-environment:before {
  content: "\e955";
}
.humanitarianicons-epidemic:before {
  content: "\e956";
}
.humanitarianicons-exit-cancel:before {
  content: "\e957";
}
.humanitarianicons-famine:before {
  content: "\e958";
}
.humanitarianicons-favourite:before {
  content: "\e959";
}
.humanitarianicons-fax:before {
  content: "\e95a";
}
.humanitarianicons-ferry:before {
  content: "\e95b";
}
.humanitarianicons-film:before {
  content: "\e95c";
}
.humanitarianicons-filter:before {
  content: "\e95d";
}
.humanitarianicons-financing:before {
  content: "\e95e";
}
.humanitarianicons-fire:before {
  content: "\e95f";
}
.humanitarianicons-fishery:before {
  content: "\e960";
}
.humanitarianicons-flash-flood:before {
  content: "\e961";
}
.humanitarianicons-flood:before {
  content: "\e962";
}
.humanitarianicons-flour:before {
  content: "\e963";
}
.humanitarianicons-folder:before {
  content: "\e964";
}
.humanitarianicons-food-security:before {
  content: "\e965";
}
.humanitarianicons-food-warehouse:before {
  content: "\e966";
}
.humanitarianicons-food:before {
  content: "\e967";
}
.humanitarianicons-forced-entry:before {
  content: "\e968";
}
.humanitarianicons-forced-recruitment:before {
  content: "\e969";
}
.humanitarianicons-fund:before {
  content: "\e96a";
}
.humanitarianicons-gap-analysis:before {
  content: "\e96b";
}
.humanitarianicons-gas-station:before {
  content: "\e96c";
}
.humanitarianicons-go:before {
  content: "\e96d";
}
.humanitarianicons-government-office:before {
  content: "\e96e";
}
.humanitarianicons-group:before {
  content: "\e96f";
}
.humanitarianicons-harassment-intimidation:before {
  content: "\e970";
}
.humanitarianicons-health-facility-affected:before {
  content: "\e971";
}
.humanitarianicons-health-facility-destroyed:before {
  content: "\e972";
}
.humanitarianicons-health-facility-not-affected:before {
  content: "\e973";
}
.humanitarianicons-health-facility:before {
  content: "\e974";
}
.humanitarianicons-health-post:before {
  content: "\e975";
}
.humanitarianicons-health:before {
  content: "\e976";
}
.humanitarianicons-heatwave:before {
  content: "\e977";
}
.humanitarianicons-heavy-rain:before {
  content: "\e978";
}
.humanitarianicons-helicopter:before {
  content: "\e979";
}
.humanitarianicons-helipad:before {
  content: "\e97a";
}
.humanitarianicons-help:before {
  content: "\e97b";
}
.humanitarianicons-hidden:before {
  content: "\e97c";
}
.humanitarianicons-hindu-temple:before {
  content: "\e97d";
}
.humanitarianicons-hospital:before {
  content: "\e97e";
}
.humanitarianicons-hotel:before {
  content: "\e97f";
}
.humanitarianicons-house-affected:before {
  content: "\e980";
}
.humanitarianicons-house-burned:before {
  content: "\e981";
}
.humanitarianicons-house-destroyed:before {
  content: "\e982";
}
.humanitarianicons-house-not-affected:before {
  content: "\e983";
}
.humanitarianicons-house:before {
  content: "\e984";
}
.humanitarianicons-humanitarian-access:before {
  content: "\e985";
}
.humanitarianicons-humanitarian-programme-cycle:before {
  content: "\e986";
}
.humanitarianicons-idp-refugee-camp:before {
  content: "\e987";
}
.humanitarianicons-infant-formula:before {
  content: "\e988";
}
.humanitarianicons-infant:before {
  content: "\e989";
}
.humanitarianicons-information-management:before {
  content: "\e98a";
}
.humanitarianicons-information-technology:before {
  content: "\e98b";
}
.humanitarianicons-infrastructure:before {
  content: "\e98c";
}
.humanitarianicons-injured:before {
  content: "\e98d";
}
.humanitarianicons-innovation:before {
  content: "\e98e";
}
.humanitarianicons-insect-infestation:before {
  content: "\e98f";
}
.humanitarianicons-internally-displaced:before {
  content: "\e990";
}
.humanitarianicons-internet:before {
  content: "\e991";
}
.humanitarianicons-kitchen-set:before {
  content: "\e992";
}
.humanitarianicons-landslide-mudslide:before {
  content: "\e993";
}
.humanitarianicons-laptop:before {
  content: "\e994";
}
.humanitarianicons-latrine-cabin:before {
  content: "\e995";
}
.humanitarianicons-leadership:before {
  content: "\e996";
}
.humanitarianicons-learning:before {
  content: "\e997";
}
.humanitarianicons-link:before {
  content: "\e998";
}
.humanitarianicons-livelihood:before {
  content: "\e999";
}
.humanitarianicons-livestock:before {
  content: "\e99a";
}
.humanitarianicons-location:before {
  content: "\e99b";
}
.humanitarianicons-locust-infestation:before {
  content: "\e99c";
}
.humanitarianicons-logistics:before {
  content: "\e99d";
}
.humanitarianicons-map:before {
  content: "\e99e";
}
.humanitarianicons-mattress:before {
  content: "\e99f";
}
.humanitarianicons-medical-supply:before {
  content: "\e9a0";
}
.humanitarianicons-medicine:before {
  content: "\e9a1";
}
.humanitarianicons-meeting:before {
  content: "\e9a2";
}
.humanitarianicons-menu:before {
  content: "\e9a3";
}
.humanitarianicons-military-gate:before {
  content: "\e9a4";
}
.humanitarianicons-mine:before {
  content: "\e9a5";
}
.humanitarianicons-missing:before {
  content: "\e9a6";
}
.humanitarianicons-mobile-clinic:before {
  content: "\e9a7";
}
.humanitarianicons-mobile-phone:before {
  content: "\e9a8";
}
.humanitarianicons-monitor:before {
  content: "\e9a9";
}
.humanitarianicons-monitoring:before {
  content: "\e9aa";
}
.humanitarianicons-more-options:before {
  content: "\e9ab";
}
.humanitarianicons-mosque:before {
  content: "\e9ac";
}
.humanitarianicons-mosquito-net:before {
  content: "\e9ad";
}
.humanitarianicons-multi-cluster-sector:before {
  content: "\e9ae";
}
.humanitarianicons-murder:before {
  content: "\e9af";
}
.humanitarianicons-national-army:before {
  content: "\e9b0";
}
.humanitarianicons-needs-assessment:before {
  content: "\e9b1";
}
.humanitarianicons-next-item:before {
  content: "\e9b2";
}
.humanitarianicons-ngo-office:before {
  content: "\e9b3";
}
.humanitarianicons-non-food-items-2:before {
  content: "\e9b4";
}
.humanitarianicons-non-food-items:before {
  content: "\e9b5";
}
.humanitarianicons-not-affected:before {
  content: "\e9b6";
}
.humanitarianicons-notification:before {
  content: "\e9b7";
}
.humanitarianicons-nutrition:before {
  content: "\e9b8";
}
.humanitarianicons-observation-tower:before {
  content: "\e9b9";
}
.humanitarianicons-oil:before {
  content: "\e9ba";
}
.humanitarianicons-out-of-platform:before {
  content: "\e9bb";
}
.humanitarianicons-partnership:before {
  content: "\e9bc";
}
.humanitarianicons-pause:before {
  content: "\e9bd";
}
.humanitarianicons-peacekeeping-force:before {
  content: "\e9be";
}
.humanitarianicons-people-in-need:before {
  content: "\e9bf";
}
.humanitarianicons-people-targeted:before {
  content: "\e9c0";
}
.humanitarianicons-people-with-physical-impairments:before {
  content: "\e9c1";
}
.humanitarianicons-permanent-camp:before {
  content: "\e9c2";
}
.humanitarianicons-person-1:before {
  content: "\e9c3";
}
.humanitarianicons-person-2:before {
  content: "\e9c4";
}
.humanitarianicons-photo:before {
  content: "\e9c5";
}
.humanitarianicons-physical-closure:before {
  content: "\e9c6";
}
.humanitarianicons-plastic-sheeting:before {
  content: "\e9c7";
}
.humanitarianicons-police-station:before {
  content: "\e9c8";
}
.humanitarianicons-policy:before {
  content: "\e9c9";
}
.humanitarianicons-population-growth:before {
  content: "\e9ca";
}
.humanitarianicons-population-return:before {
  content: "\e9cb";
}
.humanitarianicons-port-affected:before {
  content: "\e9cc";
}
.humanitarianicons-port-destroyed:before {
  content: "\e9cd";
}
.humanitarianicons-port-not-affected:before {
  content: "\e9ce";
}
.humanitarianicons-port:before {
  content: "\e9cf";
}
.humanitarianicons-potable-water-source:before {
  content: "\e9d0";
}
.humanitarianicons-potable-water:before {
  content: "\e9d1";
}
.humanitarianicons-pregnant:before {
  content: "\e9d2";
}
.humanitarianicons-preparedness:before {
  content: "\e9d3";
}
.humanitarianicons-previous-item:before {
  content: "\e9d4";
}
.humanitarianicons-print:before {
  content: "\e9d5";
}
.humanitarianicons-protection:before {
  content: "\e9d6";
}
.humanitarianicons-public-information:before {
  content: "\e9d7";
}
.humanitarianicons-radio:before {
  content: "\e9d8";
}
.humanitarianicons-rebel:before {
  content: "\e9d9";
}
.humanitarianicons-reconstruction:before {
  content: "\e9da";
}
.humanitarianicons-refugee:before {
  content: "\e9db";
}
.humanitarianicons-registration:before {
  content: "\e9dc";
}
.humanitarianicons-relief-goods:before {
  content: "\e9dd";
}
.humanitarianicons-remove-document:before {
  content: "\e9de";
}
.humanitarianicons-remove:before {
  content: "\e9df";
}
.humanitarianicons-report:before {
  content: "\e9e0";
}
.humanitarianicons-reporting:before {
  content: "\e9e1";
}
.humanitarianicons-response:before {
  content: "\e9e2";
}
.humanitarianicons-return:before {
  content: "\e9e3";
}
.humanitarianicons-rice:before {
  content: "\e9e4";
}
.humanitarianicons-road-affected:before {
  content: "\e9e5";
}
.humanitarianicons-road-barrier:before {
  content: "\e9e6";
}
.humanitarianicons-road-destroyed:before {
  content: "\e9e7";
}
.humanitarianicons-road-not-affected:before {
  content: "\e9e8";
}
.humanitarianicons-road:before {
  content: "\e9e9";
}
.humanitarianicons-roadblock:before {
  content: "\e9ea";
}
.humanitarianicons-robbery:before {
  content: "\e9eb";
}
.humanitarianicons-rule-of-law-and-justice:before {
  content: "\e9ec";
}
.humanitarianicons-rural-exodus:before {
  content: "\e9ed";
}
.humanitarianicons-rural:before {
  content: "\e9ee";
}
.humanitarianicons-safety-and-security:before {
  content: "\e9ef";
}
.humanitarianicons-salt:before {
  content: "\e9f0";
}
.humanitarianicons-sanitation:before {
  content: "\e9f1";
}
.humanitarianicons-satellite-dish:before {
  content: "\e9f2";
}
.humanitarianicons-save:before {
  content: "\e9f3";
}
.humanitarianicons-scale-down-operation:before {
  content: "\e9f4";
}
.humanitarianicons-scale-up-operation:before {
  content: "\e9f5";
}
.humanitarianicons-school-affected:before {
  content: "\e9f6";
}
.humanitarianicons-school-destroyed:before {
  content: "\e9f7";
}
.humanitarianicons-school-not-affected:before {
  content: "\e9f8";
}
.humanitarianicons-school:before {
  content: "\e9f9";
}
.humanitarianicons-search:before {
  content: "\e9fa";
}
.humanitarianicons-see:before {
  content: "\e9fb";
}
.humanitarianicons-selected:before {
  content: "\e9fc";
}
.humanitarianicons-services-and-tools:before {
  content: "\e9fd";
}
.humanitarianicons-settings:before {
  content: "\e9fe";
}
.humanitarianicons-sexual-violence:before {
  content: "\e9ff";
}
.humanitarianicons-share:before {
  content: "\ea00";
}
.humanitarianicons-shelter:before {
  content: "\ea01";
}
.humanitarianicons-ship:before {
  content: "\ea02";
}
.humanitarianicons-shower:before {
  content: "\ea03";
}
.humanitarianicons-smartphone:before {
  content: "\ea04";
}
.humanitarianicons-snow-avalanche:before {
  content: "\ea05";
}
.humanitarianicons-snowfall:before {
  content: "\ea06";
}
.humanitarianicons-soap:before {
  content: "\ea07";
}
.humanitarianicons-solid-waste:before {
  content: "\ea08";
}
.humanitarianicons-spontaneous-site:before {
  content: "\ea09";
}
.humanitarianicons-spring-water:before {
  content: "\ea0a";
}
.humanitarianicons-staff-management:before {
  content: "\ea0b";
}
.humanitarianicons-stop:before {
  content: "\ea0c";
}
.humanitarianicons-storm-surge:before {
  content: "\ea0d";
}
.humanitarianicons-storm:before {
  content: "\ea0e";
}
.humanitarianicons-stove:before {
  content: "\ea0f";
}
.humanitarianicons-submersible-pump:before {
  content: "\ea10";
}
.humanitarianicons-sugar:before {
  content: "\ea11";
}
.humanitarianicons-table:before {
  content: "\ea12";
}
.humanitarianicons-tarpaulin:before {
  content: "\ea13";
}
.humanitarianicons-technological-disaster:before {
  content: "\ea14";
}
.humanitarianicons-temporary-camp:before {
  content: "\ea15";
}
.humanitarianicons-tent:before {
  content: "\ea16";
}
.humanitarianicons-toilet:before {
  content: "\ea17";
}
.humanitarianicons-tornado:before {
  content: "\ea18";
}
.humanitarianicons-trade-and-market:before {
  content: "\ea19";
}
.humanitarianicons-train:before {
  content: "\ea1a";
}
.humanitarianicons-training:before {
  content: "\ea1b";
}
.humanitarianicons-transition-site:before {
  content: "\ea1c";
}
.humanitarianicons-trending:before {
  content: "\ea1d";
}
.humanitarianicons-truck:before {
  content: "\ea1e";
}
.humanitarianicons-tsunami:before {
  content: "\ea1f";
}
.humanitarianicons-tunnel:before {
  content: "\ea20";
}
.humanitarianicons-un-compound-office:before {
  content: "\ea21";
}
.humanitarianicons-un-vehicle:before {
  content: "\ea22";
}
.humanitarianicons-university:before {
  content: "\ea23";
}
.humanitarianicons-up:before {
  content: "\ea24";
}
.humanitarianicons-upload:before {
  content: "\ea25";
}
.humanitarianicons-urban-rural:before {
  content: "\ea26";
}
.humanitarianicons-urban:before {
  content: "\ea27";
}
.humanitarianicons-user:before {
  content: "\ea28";
}
.humanitarianicons-users:before {
  content: "\ea29";
}
.humanitarianicons-vaccine:before {
  content: "\ea2a";
}
.humanitarianicons-video:before {
  content: "\ea2b";
}
.humanitarianicons-violent-wind:before {
  content: "\ea2c";
}
.humanitarianicons-volcano:before {
  content: "\ea2d";
}
.humanitarianicons-walkie-talkie:before {
  content: "\ea2e";
}
.humanitarianicons-warning-error:before {
  content: "\ea2f";
}
.humanitarianicons-water-sanitation-and-hygiene:before {
  content: "\ea30";
}
.humanitarianicons-water-source:before {
  content: "\ea31";
}
.humanitarianicons-water-trucking:before {
  content: "\ea32";
}
.humanitarianicons-zip-compressed:before {
  content: "\ea33";
}
